<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="keywords" content="dan modesto,daniel modesto,web development,web developer,asp.net,ms sql,website,portfolio" />
    <meta name="description" content="A portfolio website built by Dan Modesto. The purpose of this website is to provide demonstratable knowledge
        of building websites using ASP.NET C#, Entity Framework, MVC, and external public api's." />
    <meta itemprop="name" content="Top Rated Games" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Navbar");
    <div class="container body-content dt_display">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET Application by Dan Modesto</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
