<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand">
                <img src="~/Content/images/350.png" alt="Dan Modesto avatar" />
                @*<a href="mailto:danmodesto@modestech.net">Dan Modesto</a>*@
                @Html.ActionLink("Dan Modesto", "Index", "Contact", new { area = "" }, null)
                <div>Full Stack Web Developer</div>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Top Games", "Index", "TopGames", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Search", "Index", "Search", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Contact", "Index", "Contact", new { area = "" }, null)</li>
                <li>
                    @{
                        //var isAdmin = true;
                        if (User.IsInRole("CanManageMessages"))
                        {
                            @Html.ActionLink("Messages", "Index", "Message", new { area = "" }, null)
                        }
                    }
                </li>

                <li style="clear: left;">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
