@model  VideoGameAPI_Example.ViewModels.SearchViewModel
@{
    ViewBag.Title = "GetGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search for Top Rated Games</h2>
<h4>search text: `@Model.Name`</h4>

@Html.Partial("_DisplayGames")

@section scripts
{
    <script>
        $(document).ready(function () {

            // store a list of genres and platforms
            var genreList = @Html.Raw(Model.GenresJSON.ToString());
            var platformList = @Html.Raw(Model.PlatformsJSON.ToString());
            var apiUrl = "/Api/Search";
            var dataObj = {
                'name': "@Model.Name"
            }

            getGames(genreList, platformList, apiUrl, dataObj);
        })
    </script>

    @Scripts.Render("~/bundles/site")
}