@model  VideoGameAPI_Example.ViewModels.GetGamesViewModel
@{
    ViewBag.Title = "GetGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Top Rated @Model.PlatformName Games
    @if (Model.GameEngineName.Length > 0)
    {
        <text>made with @Model.GameEngineName</text>
    }
</h2>

@Html.Partial("_DisplayGames")

@section scripts
{
    <script>
        $(document).ready(function () {

            // store a list of genres and platforms
            var genreList = @Html.Raw(Model.GenresJSON.ToString());
            var platformList = @Html.Raw(Model.PlatformsJSON.ToString());
            var apiUrl = "/Api/TopGames";
            var dataObj = {
                'CategoryId': @Model.CategoryId,
                'PlatformId': @Model.PlatformId,
                'GameEngineId': @Model.GameEngineId
            }

            getGames(genreList, platformList, apiUrl, dataObj);
        })
    </script>

    @Scripts.Render("~/bundles/site")
}
