@model  VideoGameAPI_Example.ViewModels.SelectOptionsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sub-topic">
    <h2>Top Rated Games by Game Engine and Platform</h2>

    @using (Html.BeginForm("GetGames", "TopGames"))
    {
        // Category
        <div class="form-group">
            @Html.LabelFor(q => q.CategoryId)
            @Html.DropDownListFor(q => q.CategoryId, new SelectList(Model.Categories, "Id", "Name", "Id"), "Select the Category", new { @class = "form-control" })
            @Html.ValidationMessageFor(q => q.CategoryId)
        </div>

        <div class="form-group">
            @Html.LabelFor(q => q.PlatformId)
            @Html.DropDownListFor(q => q.PlatformId, new SelectList(Model.Platforms, "Id", "Name", "Category.Name", "Category.Id", null), "Select the Platform", new { @class = "form-control" })
            @Html.ValidationMessageFor(q => q.PlatformId)
        </div>

        <div class="form-group">
            @Html.LabelFor(q => q.GameEngineId)
            @Html.DropDownListFor(q => q.GameEngineId, new SelectList(Model.GameEngines, "Id", "Name"), "Select the Game Engine", new { @class = "form-control" })
            @Html.ValidationMessageFor(q => q.GameEngineId)
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        @:&nbsp;
        @:&nbsp;
        @Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-default" })
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#CategoryId').change(function () {

                // reset the Platform dropdown
                $('#PlatformId').val(null);

                // capture this keyword
                var self = this;

                // store the selectedCategory and selectedCategoryValue
                var selectedCategory = $(self).children().filter(':selected').text();
                var selectedCategoryValue = $(self).children().filter(':selected').val();

                // store the option groups to an array to iterate over
                var optGroups = $('#PlatformId').children('optgroup').toArray();

                // only enable the platforms for the selected option group Category
                // or enable all platforms
                optGroups.forEach(function (g) {
                    if ($(g).filter('[label="' + selectedCategory + '"]').length > 0 ||
                        !selectedCategoryValue) {
                        $(g).prop('disabled', false).show();
                    }
                    else {
                        $(g).prop('disabled', true).hide();
                    }
                });
            });
        })
    </script>
}
